body{
    background-image: url("../images/crowdbanner.png");
    background-color: #000000;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header{
    display:flex;
    align-items: flex-end;
    vertical-align: bottom;
    height: 100%;
}

h1{
    display: inline-flex;
    font-size:50px;
    color: white;
}
div.list{
    padding-top: 5000px;
    color: white;
}
.list{
    margin-top: 500px;
    width: 100%;
    background-color: #000000;
}

table{
    border-collapse: collapse;
    color: white;
    background-color: #000000;
    text-align: center;
    
}

th{
    text-align: center;
    padding: 20px;
}
td{
    border: 1px solid #CD9900;
    text-align: center;
    padding: 20px;
}
table.reviewTable{
    table-layout: auto;
    width: 100%;
}

div.review{
    margin-top: 50px;
    padding: 20px;
    background: #000000;
    color: white;

}

p.rbody{
    border: 1px solid #CD9900;
    padding-bottom: 100px;

}